Data/FARS2021NationalCSV/FARS2021NationalCSV/vehicle.csv filter=lfs diff=lfs merge=lfs -text
Data/FARS2021NationalCSV/FARS2021NationalCSV/person.csv filter=lfs diff=lfs merge=lfs -text
Data/FARS2020NationalCSV/FARS2020NationalCSV/person.csv filter=lfs diff=lfs merge=lfs -text
